@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--v-theme-background));
}

.calculator {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  height: 100vh;
  padding: var(--padding-regular);
}

.calc-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80px;
  padding: 0 var(--padding-small);
  border: var(--border-regular) solid rgb(var(--v-theme-border));
  background-color: rgb(var(--v-theme-textInversion));

  container-type: size;

  & .formula {
    font-size: var(--font-small);
    text-align: right;
    line-height: 1.0;
  }

  & .result {
    font-size: var(--font-large);
    text-align: right;
    line-height: 1.0;
  }
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: var(--padding-regular);
}

.number-panel {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-regular);

  .number-row {
    display: flex;
    flex-direction: row;
    column-gap: var(--padding-regular);

    .number-cell > * {
      width: var(--button-size);
      height: var(--button-size);

      font-size: var(--font-regular);
    }
  }
}

.operator-panel {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-regular);

  .operator-col > * {
    width: var(--button-operator-width);
    height: var(--button-size);

    background-color: rgb(var(--v-theme-btnOperator));
    font-size: var(--font-large);
  }

  .equal-button {
    color: rgb(var(--v-theme-textInversion));
    background-color: rgb(var(--v-theme-btnEqual));
  }
}
