@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--v-theme-background));
}

.calculator {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  height: 100vh;
  padding: 10px;
}
